<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UFT-8”>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>bandailab</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='icon/apple-touch-icon-180x180.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript">
      window.ontouchstart = function() {};
      window.addEventListener('touchstart', function() {}, true);
      window.addEventListener('touchstart', function() {}, false);
    </script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
